<a href="/books" class="list-group-item list-group-item-action list-group-item-light">All Books &nbsp;&nbsp;&nbsp;&nbsp;></a>
<a href="/search" class="list-group-item list-group-item-action list-group-item-dark">All Book Categories &nbsp;&nbsp;&nbsp;&nbsp; ></a>
<a href="/books/new" class="list-group-item list-group-item-action list-group-item-light">Add Books &nbsp;&nbsp;&nbsp;&nbsp;></a>
<a href="/gbooks" class="list-group-item list-group-item-action list-group-item-dark"> Trending Books &nbsp;&nbsp;&nbsp;&nbsp; ></a>
<a href="contributors/:id" class="list-group-item list-group-item-action list-group-item-light">My Shelf &nbsp;&nbsp;&nbsp;&nbsp;></a>