<p style="color: green"><%= notice %></p>


<div class="row"> 
  <div class="col-sm-3"> </div>
  <div class="col-sm-6"> 
  <h1>Books</h1>
  </div>
  <div class="col-sm-3"> </div>
  
</div>





<div id="books">
  <% @books.each do |book| %>
    <%= render book %>

    <div class="row"> 
    <div class="col-sm-3"> </div>
    <div class="col-sm-6"> 
    <p>
    <%= link_to "Show this book", book %>
  </p>
    </div>
    <div class="col-sm-3"> </div>
    
  </div>



  <% end %>
</div>

<%= link_to "New book", new_book_path %>



