
<div class="container">
<div class="row" style="margin-top:100px;">
   <div class="col-sm-4"> </div>

   <div class="col-sm-7"> 



        <h1>Trending Books</h1>

        <p><%= "#{@book1}" %></p>
        <p><%= "#{@book2}" %></p>
        <p><%= "#{@book3}" %></p>
        <p><%= "#{@book4}" %></p>
        



   </div>

   <div class="col-sm-1"> </div>
   </div>
</div>
</div>

