

<div class="container">
<div class="row" style="margin-top:100px;">
   <div class="col-sm-4"> </div>

   <div class="col-sm-7"> 



        <h1> All Book Categories</h1>

        <% @categories.each do |cat| %>
            <p> <%= cat %></p>
        <% end %>



   </div>

   <div class="col-sm-1"> </div>
   </div>
</div>
</div>


